[submodule "DMH-VCM-Mk2-PANEL/Libraries/SynthStuff"]
	path = DMH-VCM-Mk2-PANEL/Libraries/SynthStuff
	url = https://github.com/DeMarco/KiCad-Lib-SynthStuff.git
[submodule "DMH_VCM_Mk2_PCB_1/Libraries/SynthStuff"]
	path = DMH_VCM_Mk2_PCB_1/Libraries/SynthStuff
	url = https://github.com/DeMarco/KiCad-Lib-SynthStuff.git
